target
.idea
compete.toml

# 各コンテストの自動生成ファイルを無視
a*/.cargo/config.toml
a*/test.sh
a*/submit.sh
a*/open.sh
a*/Cargo.lock
a*/Cargo.toml
a*/testcases

tessoku-book/.cargo/config.toml
tessoku-book/test.sh
tessoku-book/submit.sh
tessoku-book/open.sh
tessoku-book/Cargo.lock
tessoku-book/Cargo.toml
tessoku-book/testcases
